.todo-container {
    width: 100%;
}

.todo-items {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 40%;
    margin: 20px auto;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
}

li {
    list-style-type: none;
    
    font-family: 'Josefin Sans';
    color: black;
    font-weight: 800;
}

.check-btn, .trash-btn {
    background-color: aliceblue;
    border: none;
    margin: 0 auto;
    transition: all 200ms;
}

.check-btn {
    font-size: 20px;
}

.check-btn:hover {
    transform: scale(1.4);
    background-color: transparent;
}

.trash-btn:hover {
    transform: scale(1.4);
    background-color: transparent;
}

.completed {
  opacity: 0.6;
  text-decoration: line-through;
}