.todolist-input {
    margin: 30px auto;
    width: 40%;
    
}

.input-value {
    font-family: 'Josefin Sans';
    font-weight: bolder;
    padding: 15px;
    border: #ffffff;
}

.input-value:focus {
    box-shadow: none;
    outline: none;
    border: #ffffff;
}

#button-addon2 {
    color: rgb(0, 0, 0);
    border: none;
    background-color: #ffffff;
}

.plus-icon {
    font-size: 20px;
    padding-right: 5px;
    transition: all 200ms;
}

.plus-icon:hover {
    transform: scale(1.4);
}