.todolist-container {
    width: 100%;
}

.todolist-items {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 40%;
    margin: 30px auto;
    border-radius: 5px;
    height: 60px;
    padding: 0 10px;
}

input {
    border: none;
    background-color: transparent;
    font-family: 'Josefin Sans';
    font-weight: 800;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.plus-btn {
    background-color: aliceblue;
    border: none;
    margin: 0 auto;
    transition: all 200ms;
    font-size: 20px;
}


.plus-btn:hover {
    transform: scale(1.4);
    background-color: transparent;
}

.todo-list {
    padding-left: 0;
}